Examples/TranspiledActionScriptWebsite/bin/
Examples/TranspiledActionScriptWebsite/target/
Examples/PureMVCEmployeeAdminMDL/bin/
Examples/PureMVCEmployeeAdminMDL/bin-release/
Examples/PureMVCEmployeeAdminMDL/target/
Examples/PureMVCEmployeeAdminBasic/bin/
