/*
////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "http://www.w3.org/1999/xhtml";
@namespace js "library://ns.apache.org/royale/basic";
@namespace mdl "library://ns.apache.org/royale/mdl";
	
global {
   IStatesImpl: ClassReference("org.apache.royale.core.SimpleStatesImpl");
}

.royale *, . royale *:before, . royale *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content
{
	padding: 10px;
	margin: 10px;
}

.navigationChange
{
	IItemRenderer: ClassReference("itemRenderers.MainMenuNavigationLinkItemMouseRenderer");
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
}

.navigationRightFooter
{
	IItemRenderer: ClassReference("itemRenderers.RightMenuFooterLinkItemMouseRenderer");
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
}

.exampleTable
{
	IItemRenderer: ClassReference("itemRenderers.ExampleListRowItemRenderer");
}

.imageLOGO {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./resources/images/1x/icons/LOGO.png) no-repeat;
  width: 250px; 
  height: 38px; 
}

.vectorExamples {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./resources/images/1x/icons/vector_smart_obj.png) no-repeat;
  width: 67px; 
  height: 67px; 
}

.sourceCode {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./resources/images/1x/icons/ico_code_red.png) no-repeat;
  width: 30px;
  height: 30px;
}

.sourceCodeHover {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./resources/images/1x/icons/ico_code_green.png) no-repeat;
  width: 30px;
  height: 30px;
}

.previewCode {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./resources/images/1x/icons/ico_preview_red.png) no-repeat;
  width: 30px;
  height: 30px;
}

.previewCodeHover {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(./resources/images/1x/icons/ico_preview_green.png) no-repeat;
  width: 30px;
  height: 30px;
}

.examplesBackground {
  background-image: url(./resources/images/1x/1_top/1_top_full.png);
  background-repeat: no-repeat, no-repeat, no-repeat; 
  background-position-x: right;
  background-position-y: top;
  background-size: 50% auto;
}


@media (min-width: 1650px) {
	.examplesBackground {
	  background-image: url(./resources/images/1x/1_top/1_top_full.png);
	  background-repeat: no-repeat, no-repeat, no-repeat; 
	  background-position-x: right;
	  background-position-y: top;
	}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
	
	.sourceCode {
	  display: block;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url(./resources/images/2x/icons/ico_code_red@2x.png) no-repeat;
	  width: 58px;
	  height: 58px;
	}
	
	.sourceCode:hover {
	  display: block;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url(./resources/images/2x/icons/ico_code_green@2x.png) no-repeat;
	  width: 58px;
	  height: 58px;
	}
	
	.previewCode {
	  display: block;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url(./resources/images/1x/icons/ico_preview_red@2x.png) no-repeat;
	  width: 58px;
	  height: 58px;
	}
	
	.previewCode:hover {
	  display: block;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url(./resources/images/1x/icons/ico_preview_green@2x.png) no-repeat;
	  width: 58px;
	  height: 58px;
	}
	
	.examplesBackground {
	    background-image: url(./resources/images/2x/1_top/1_top_full.png);
	    background-repeat: no-repeat, no-repeat, no-repeat; 
		background-position-x: right;
		background-position-y: top;
	}
	
	.imageLOGO {
	  display: block;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url(./resources/images/2x/icons/LOGO.png) no-repeat;
	  width: 500px; 
	  height: 76px; 
	}
	
	.vectorExamples {
	  display: block;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url(./resources/images/2x/icons/vector_smart_obj.png) no-repeat;
	  width: 67px; 
	  height: 67px; 
	}
}


.snippetsBackground
{
  background-image: url(./resources/images/1x/2_snippets/2_snippets_full.png);
  background-repeat: no-repeat, no-repeat, no-repeat; 
  background-position-x: left;
  background-position-y: top;
  background-size: 50% auto;
}

.utilsBackground
{
  background-image: url(./resources/images/1x/3_utils/3_utils_full.png);
  background-repeat: no-repeat, no-repeat, no-repeat; 
  background-position-x: right;
  background-position-y: center;
}

.legalBackground
{
  background-image: url(./resources/images/1x/5_legal/5_legal_full.png);
  background-repeat: no-repeat, no-repeat, no-repeat; 
  background-position-x: left;
  background-position-y: center;
}

.horizontalFlexGroup
{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.verticalFlexGroup
{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-start;
   align-items: flex-start;
}

.bigitem {
   -webkit-flex: 2.5 0 0;
   flex: 2.5 0 0;
}
.smallitem {
   -webkit-flex: 0.5 0 0;
   flex: 0.5 0 0;
}