<div class="mdl-tabs mdl-js-tabs 
            mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
	  <a href="#starks-panel" 
	     class="mdl-tabs__tab is-active">
		 TAB ONE
	  </a>
	  <a href="#lannisters-panel" 
	     class="mdl-tabs__tab">
		 TAB TWO
	  </a>
	  <a href="#targaryens-panel" 
	     class="mdl-tabs__tab">
		 TAB THREE
	</a>
  </div>

  <div class="mdl-tabs__panel is-active" 
       id="starks-panel">
	<span style="white-space: nowrap;">
	    Tab One
    </span>
  </div>
  <div class="mdl-tabs__panel" 
       id="lannisters-panel">
	<span style="white-space: nowrap;">
	    Tab Two
	</span>
  </div>
  <div class="mdl-tabs__panel" 
       id="targaryens-panel">
	<span style="white-space: nowrap;">
	    Tab Three
	</span>
  </div>
</div>